<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app id="WebApp_ID" version="2.3"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_3.xsd">


	<!-- Configuration locations must consist of one or more comma- or space-delimited 
		fully-qualified @Configuration classes -->

	<servlet>
		<servlet-name>springJamon</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>

		<!-- Again, config locations must consist of one or more comma- or space-delimited 
			and fully-qualified @Configuration classes -->
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext
			</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>com.welflex.web.WebConfig</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>springJamon</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
