/* This is the style for the informational messages presented to the user */
.error, .message, .error{
    background: #ffffcc;
    border: 1px solid #000;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 10px auto;
    padding: 3px;
    text-align: left;
    vertical-align: bottom;
    display: block;
}

/* use a different color for the errors */
.error {
    border: 2px solid red;
}

input.error {
    margin: 0;
    background: #ffd;
}

/* IE fix, followed by the rest of the world fix */
li.error {
    padding: 3px !important;
}

ul>li.error {
    padding: 0 !important;
}

div.message p, div.message p {
    margin-bottom: 0;
}

img.validationWarning, div.error img.icon, div.message img.icon, li.error img.icon {
    border: 0 !important;
    width: 14px;
    height: 13px;
    vertical-align: middle;
    margin-left: 3px;
    background: transparent !important;
    /* important added because some themes define div#main img */
}

div.message a {
    background: transparent;
    color: #0000FF;
}

div.message a:visited {
    background: transparent;
    color: #0000FF;
}

div.message a:hover {
    background: transparent;
    color: #008000;
}

div.message a:active {
    text-decoration: underline overline;
}

div.message img.icon {
    vertical-align: middle;
}

span.fieldError, .errorMessage {
    color: red;
    font-size: .95em;
    font-weight: bold;
    display: block;
}

/* Wicket wraps a <ul> and <li> around fieldErrors */
/* reduce the padding and margin and move to right */
span.fieldError ul, span.fieldError li {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 140px;
    margin-top: -10px;
}

/* Wicket does something similar for feedback panel */
span.message ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

span.message li {
    margin: 0 0 0 5px;
}

/* Tapestry-specific messages: http://tapestry.apache.org/tapestry4.1/usersguide/clientside-validation.html */
.fieldMissing {
    background: #FFCA7A !important;
}

.fieldInvalid {
    background: #FF887A !important;
    font-weight: bold;
}

.alertDialog {
    width: 30em;
    border: 2px solid red;
    padding: 2em;
    text-align: left;
    background: #fff;
    -moz-border-radius: 10px;
}

.alertContent .alertButton {
    float: right;
    position: relative;
    bottom: .75em;
}

.missingList, .invalidList {
    padding-bottom: 1em;
    padding-top: 0.2em;
    padding-left: 0.1em;
    padding-right: 0.2em;
    margin: 0;
}

.missingList {
    border-top: 4px solid #FFCA7A;
}

.invalidList {
    border-top: 4px solid #FF887A;
}

.missingList li, .invalidList li {
    list-style: none;
    line-height: 1.2;
}